@import url("https://fonts.googleapis.com/css2?family=Roboto");

  
  /* reset & common styles */
  /* body, ul, h1, h2, h3, p, button, a, div{
    margin: 0;
    padding: 0;
    /* background-color: blueviolet; */
    /* letter-spacing: 2px;
    color: black;
    list-style-type: none;
    text-decoration: none;
  } */ */
  body{
    overflow: hidden;
  }
  .in{
      padding: 10px 15px;
      text-decoration: none;

  }
  .in:active,.in:hover,.in{
      color: black;
  }
  .in:hover{
      outline: 2px rgba(8, 8, 8, 0.2) solid;
  }
  /* button{
    color: white;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    margin: 40px auto 0;
    cursor: pointer;
    opacity: 0.7;
  } */
  /* .container{
    max-width: 300px;
    margin: 100px auto 40px;
  }
  .container h3{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .container li{
    padding: 10px;
    cursor: pointer;
  } */
  
  /* header */
  header{
    display: flex;
    padding: 35px;
    align-items: center;
  }
  header .title{
    flex-grow: 3;
    text-align: right;
    margin-right: 30px;
    font-size: 0.6em;
  }
  header h1{
    border-bottom: 1px solid rgba(8, 8, 8, 0.2);
    padding-bottom: 10px;
  }
  header {
    width: 80px;
    overflow: visible;
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  /* footer */
.footerSection {
  background-color: #000324;
  /* height: 600px; */
  /* transform: scaleY(.95); */
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 15px;
}
.footerEmail {
  width: 230px;
  height: 30px;
  border-radius: 30px;
  border: grey;
  font-size: large;
  padding: 10px 30px;
  margin-right: 30px;
}
.footerSection h2 {
  font-weight: 800;
  text-transform: initial;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.footerSection h5 {
  letter-spacing: 3px;
  color: grey;
}
.footerSection h6 {
  color: grey;
  text-transform: initial;
  word-spacing: 2px;
  letter-spacing: 0.7px;
  font-size: 17px;
}
.footerSection li{
  list-style: none;
  padding: 4px;
  font-weight: 600;
  color: #dbdbdbe1;
font-size: 1rem;
}
.footerSection p{
  font-size: 1.6rem;
border-top:solid 2px white;
border-bottom:solid 2px white;
width: max-content;
padding: 5px 0px;
}

.footerAcmIcon{
  width: 250px;
  transform: translateY(-20px);
}

.iconsFooter{
  margin: 8px;
}

.footerSocial a{
color: #dbdbdbe1;
cursor: pointer;
}

.assurance{
  background-color: #ffec1d;
  padding: 20px;
  font-family: "Roboto", sans-serif;

}
.assurance p{
  font-size: .8rem;
  color: #116530;
}
.assurance_head{
  color: #116530;
font-size: 2rem;
}