.signin{
    padding:0% 5%;
    /* height:90vh; */
    transform: translateY(-34px);
}
.login{
    padding: 4% 17%;
    transform: translateY(-50px);
  
}
.social{
    margin: 25px 0;
    transform:translateX(50px);
    padding-top: 50px;
}
.social2{
    transform:translateX(50px);
}
.or{
    font-size: 1.3rem;
    position: relative;
    top: -10px;
}
.google{
    color: rgb(97, 93, 93);
}

.loginImg{
    background-image: url('https://i.pinimg.com/originals/25/76/ab/2576ab3a50ccdae861fc5abcfa20a1dc.gif');
    background-size: auto 97%;
}
.signinImg{
    background-image: url('https://i.pinimg.com/originals/25/76/ab/2576ab3a50ccdae861fc5abcfa20a1dc.gif');
    background-size:97% 99%;
   
  }
@media (max-width:900px){
.social,.social2{
    transform: translateX(0);
    margin: 0;
}
.signinPaper{
    padding: 0 8%;
}
.loginImg{
    visibility: hidden;
}
.signinImg{
    visibility: hidden;
}
}
@media (min-width:600px){
    .fields_space{
        margin: 10px;
    }
}


