.signin{
    padding:0% 5%;
    /* height:90vh; */
    /* transform: translateY(-70px); */
}
.login{
    padding: 4% 17%;
    transform: translateY(-50px);
  
}
.social{
    margin: 25px 0;
    transform:translateX(50px);
    padding-top: 50px;
}
.social2{
    transform:translateX(50px);
}
.or{
    font-size: 1.3rem;
    position: relative;
    top: -10px;
}
.google{
    color: rgb(97, 93, 93);
}

.loginImg{
    background-image: url('https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60');
}
@media (max-width:900px){
.social,.social2{
    transform: translateX(0);
    margin: 0;
}

}
@media (min-width:600px){
    .fields_space{
        margin: 10px;
    }
}


