.signin{
    padding:0% 5%;
    /* height:90vh; */
    transform: translateY(-34px);
}
.login{
    padding: 4% 17%;
    transform: translateY(-50px);
  
}
.social{
    margin: 25px 0;
    transform:translateX(50px);
    padding-top: 50px;
}
.social2{
    transform:translateX(50px);
}
.or{
    font-size: 1.3rem;
    position: relative;
    top: -10px;
}
.google{
    color: rgb(97, 93, 93);
}

.loginImg{
    background-image: url('https://i.pinimg.com/originals/25/76/ab/2576ab3a50ccdae861fc5abcfa20a1dc.gif');
    background-size: auto 97%;
}
.signinImg{
    background-image: url('https://i.pinimg.com/originals/25/76/ab/2576ab3a50ccdae861fc5abcfa20a1dc.gif');
    background-size:97% 99%;
   
  }

.star2{
    position: absolute;
    margin-left: 60%;
margin-top:80%;
    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(50px) translateX(50px);
      }
      50% {
        transform: translateY(-150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star{
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
    animation: star 10s linear infinite;
}
@keyframes star {
    0% , 100%{
        transform: translateY(50px) translateX(-500px);
      }
      50% {
        transform: translateY(150px) translateX(250px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star2{
    position: absolute;
    margin-top: 5%;
    margin-left: 100%;
    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star2{
    position: absolute;
    margin-left: 50%;

    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star3{
    position: absolute;
    margin-left: 50%;

    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star2{
    position: absolute;
    margin-left: 50%;

    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star2{
    position: absolute;
    margin-left: 50%;

    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.star2{
    position: absolute;
    margin-left: 50%;

    animation: star2 10s linear infinite;
}
@keyframes star2 {
    0% , 100%{
        transform: translateY(450px) translateX(50px);
      }
      50% {
        transform: translateY(150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.starspin{
    position: absolute;
    margin-left: 50%;

    animation: starspin 10s linear infinite;
}
@keyframes starspin {
    0% , 100%{
        transform: translateY(50px) translateX(50px);
      }
      50% {
        transform: translateY(-150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
.circle{
    position: absolute;
    margin-left: 50%;

    animation: circle 10s linear infinite;
}
@keyframes circle{
    0% , 100%{
        transform: translateY(50px) translateX(50px);
      }
      50% {
        transform: translateY(-150px) translateX(-150px);
        width:25px;
        height: 25px;
    }
    25% ,75%{
        width: 40px;
        height: 40px;
    }
}
@media (max-width:900px){
.social,.social2{
    transform: translateX(0);
    margin: 0;
}
.signinPaper{
    padding: 0 8%;
}
.loginImg{
    visibility: hidden;
}
.signinImg{
    visibility: hidden;
}
}
@media (min-width:600px){
    .fields_space{
        margin: 10px;
    }
}


