@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Libre+Baskerville&family=Source+Serif+4:wght@300&display=swap");

.Dashboard{
    font-family: "Libre Baskerville", serif;
    display: grid;
    grid-template-rows: 30% 70%;
    /*border: 1px solid black;*/
    /*background-color: aqua;*/
    height: 200vh;
    width:100%;
    padding: 7vh;

}
.Box{
    display: grid;
    grid-template-rows: 40% 60%;

}
.inputfield{
    width:100%;

}
.card{
    display: grid;
    grid-template-columns: 40% 60%;

}
.card-cont{
    display: grid;
    grid-template-rows: 70% 30%;
    font-family: "Archivo", sans-serif;
    /*border:1px solid black;*/
}
.content{

    display: grid;
    grid-template-rows: 50% 50%;
}
.cont-left{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.sub-head-3{
    display: grid;
    grid-template-rows: 50% 50%;
}
.List{
    margin-top: 10vh;
}
@media (max-width:1000px)
{

    .Box{
        height: 300vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;

    }
    .List{
        margin-top: 60vh;
    }
    .card{
        margin: -2vh;
    }
}