.sign{
  /* background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); */
background-size: cover;
background-repeat: no-repeat;
margin: 0;
padding: 0;
top:0;
right:0;
}